<hero class="grid bg-gray-700 relative overflow-hidden text-white h-screen -mt-20 md:mt-0 lg:h-[500px] bg-cover lg:bg-[center_top_-15rem] z-10" style="background-image:url('https://live.staticflickr.com/65535/53722552451_0614112623_k.jpg')">
    <div class="col-start-1 row-start-1 bg-gray-700 opacity-80 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-12 grid md:block place-content-center -mt-20 md:mt-0 text-center md:pt-32 px-10 z-10">
        <div class="herotext-anim max-w-[1170px] md:px-10 mx-auto" style="transform: translateY(0px); opacity: 1;">
            
            <h1 class="font1 leading-none text-4xl md:text-6xl title-fadein font-thin">Each photograph gains strength<br>
                with  a <span class="text-emerald-300">personal touch</span>
            </h1>
            
            <p class="text-md md:text-lg mb-5 leading-5 md:leading-none">Share pictures from Flickr and accompany it with your captions.</p>
            
            <div class="inline-block w-32 bg-emerald-300 p-0.5 mt-7"></div>
            
        </div>
    </div>
    <div class="absolute right-4 bottom-4 text-xs font-light opacity-50 hover:opacity-100 z-20">
        <a href="https://www.flickr.com/photos/rbaptista/" target="_blank">@Rui Baptista</a>
    </div>
</hero>