<div class="sticky bottom-0 z-1 px-4 sm:px-10 pt-6 pb-10 flex bg-white">
    <div class="flex flex-col md:flex-row gap-1 md:gap-6 w-full">
        <img class="w-14 h-14 object-cover rounded-full" src="/static/images/avatar_default.svg">
        <form method="POST" action="/inbox/new_reply/ccc6c1c3-61a5-4c28-85e1-00c04efd192e/" class="w-full">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="3go8kNdw51oTC81mkFua8Yb8ZqUYnqUBsD0o8GsMCGyUrQYRaSsEit9TTBj1XBQV">
            <div>
                <textarea name="body" cols="40" rows="4" placeholder="Add message ..." maxlength="2000" required=""
                    id="id_body"></textarea>



                <wordtune-suggestions-container-block
                    style="position: absolute; overflow: hidden; pointer-events: none; width: 527px; height: 128px; top: 24px; left: 120px; padding: 16px 19.2px; margin: 0px 0px 16px;"><wordtune-suggestions-container
                        style="width: 527px; display: block; height: 128px;"></wordtune-suggestions-container></wordtune-suggestions-container-block><wordtune-cards-container
                    id="wordtune-cards-container-id" style="z-index: 999;"></wordtune-cards-container>
            </div>
            <div class="flex justify-between">
                <button type="submit" class="mt-1">Send Message</button>
                <a class="button secondaryAction ml-1"
                    href="https://awesomepixx.com/inbox/c/ccc6c1c3-61a5-4c28-85e1-00c04efd192e/">Cancel</a>
            </div>
        </form>
    </div>
</div>